<html>
    <head>
        <title>Test Blog</title>
        <link rel="shortcut icon" href="fav.ico">
        <link rel="alternate" type="application/rss+xml" href="rss.xml">
        
            <meta name="description" content="This is a test blog" />
        
    </head>
    <body>
        <h1>Test Blog</h1>

        
            <p id="description">This is a test blog</p>
        

        <ol id="posts">
            
                    <li class="post text">
                        I am an article without a headline
                    </li>
                
                    <li class="post quote">
                        "One step at a time"

                        
                            <div class="source">The quotewriter</div>
                        
                    </li>
                
                    <li class="post video">
                        <video src="demo.mp4" width="500"></video>
                            <div class="caption">My demo video</div>
                        
                    </li>
                
        </ol>

        <p id="footer">
            
                <a href="previous.html">&#171; Previous</a>
            

            <a href="/archive">Archive</a>
        </p>
    </body>
</html>
